<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assignment 1">

	
	
	<test name="Login Page">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest"></class>
			</classes>
	</test>
	
	<test name="Property Page">
		<classes>
			<class name="com.crm.qa.testcases.PropertyPageTest"></class>
			</classes>
	</test>
	
	<test name="Property Details">
		<classes>
			<class name="com.crm.qa.testcases.property_detailsPageTest"></class>
			</classes>
	</test>
	
	
	<test name="Agent details">
		<classes>
			<class name="com.crm.qa.testcases.Agent_DetailsPageTest"></class>
			</classes>
	</test>
</suite>